.one-whole
  width: 100%

.one-half
  width: 50%

.one-third
  width: 33.333%

.two-third
  width: 66.666%

.margin-auto
  margin: 0 auto

.wrapper
  max-width: 940px
  margin: 0 auto
  padding: 80px 0

.inner
  padding: 0 20px

.mbxl
  padding: 0 0 80px 0

.mbl
  padding: 0 0 40px 0

.mbm
  padding: 0 0 20px 0

.mbs
  padding: 0 0 10px 0
