<h1 class="heading-l">
  Was bieten wir an?
</h1>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      <h2 class="heading-m">Webentwicklung</h2>
      <p>
        In diesem Kurs werden die Grundkenntnisse der Webentwicklung anhand der Programmiersprache Ruby erarbeitet. Ziel ist es hinter die Kulissen einer Internetseite zu blicken und selber eine einfache Webseite zu programmieren.
      </p>
    </h2>
  </div>
  <div class="one-half right">
    <h2 class="heading-m">Mobile Geräte Verstehen</h2>
    <p>
      In diesem Kurs sollen die Möglichkeiten der heutigen mobilen Geräten aufgezeigt werden. Ziel ist es ein Verständnis zu vermitteln, welche Techniken in den Geräten steckt welche uns die Möglichkeit der jeder zeitigen Erreichbarkeit bieten.
    </p>
  </div>
</div>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">Allgemeine Informatik Einführung</h2>
    <p>
      Dieser Kurs soll eine allgemeine Einführung in die Informatik bieten. Der Schwerpunkt dabei liegt im Bereich der Software und deren Bedienung, dabei sollen alltägliche Fragen welche im Umgang mit einem Computer auftreten beantwortet werden.
    </p>
  </div>
  <div class="one-half right">
    <h2 class="heading-m">Individuelle Absprache:</h2>
    <p>
      Je nach länge des Kurses können wir auf individuelle Wünsche der Schule eingehen. Diese müssen jedoch vorgängig mit uns abgesprochen werden.
    </p>
  </div>
<%= image_tag "kite.png", class: "kite" %>
<%= image_tag "cat.png", class: "cat" %>
</div>
