<div class="cf">

  <div class="one-half margin-auto align-center mbl">
    <h1 class="heading-l">
      Willkommen bei Learn to Code
    </h1>
    <p>
      Bist du daran interessiert die Kunst der Programmierung zu erlernen?
      Dann bist du bei uns richtig.
    </p>
  </div>

</div>
<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Unsere Philosophie
    </h2>
    <p>
      Unsere Kinder werden in eine Welt geboren, in der sie von der Gesellschaft lernen Medien zu konsumieren anstelle zu kreieren.
      Die Programmierung ist unser Hilfsmittel dies zu ändern.
    </p>
    <p>
      <%= link_to "Erfahre mehr", "/philosophie", class: "btn-blue" %>
    </p>
  </div>

  <div class="one-half right">
    <h2 class="heading-m">
      Unser Angebot
    </h2>
    <p>
      blalbablablabla
    </p>
    <p>
      <%= link_to "Erfahre mehr", "/angebot", class: "btn-blue" %>
    </p>
  </div>
</div>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Wer wir sind
    </h2>
    <p>
      blalbablablabla
    </p>
    <p>
      <%= link_to "Erfahre mehr", "/uber-uns", class: "btn-blue" %>
    </p>
  </div>

  <div class="one-half right">
    <h2 class="heading-m">
      Trete mit uns in Kontakt
    </h2>
    <p>
      blalbablablabla
    </p>
    <p>
      <%= link_to "Erfahre mehr", "/kontakt", class: "btn-blue" %>
    </p>
  </div>
</div>
