<div class="cf mtxl">
  <div class="one-half align-center left">
    <%= image_tag "logo.png" %>
  </div>

  <div class="one-half right mtl">
    <p>
      Willkommen auf Learn to Code
    </p>
    <p>
      Bist du daran interessiert die Kunst der Programmierung zu erlernen?
    </p>
    <p>
      <%= link_to "Erfahre mehr", "/philosophie", class: "btn-blue" %>
    </p>
  </div>
</div>
