<div class="one-whole align-center logo">
  <%= image_tag "logo.png" %>
</div>
<div class="cf">

  <div class="one-half margin-auto align-center mbl">
    <h1 class="heading-l">
      Willkommen auf <strong>learntocode.ch</strong>
    </h1>
    <p>
      Du möchtest lernen zu programmieren? Oder du bist auf der Suche nach Unterstützung um es anderen beizubringen?
    </p>
    <p>
      Wir bieten angepasste Kurse im Bereich der Programmierung für Jugendliche und Erwachsene an.
    </p>
    <p>
      Haben wir dein Interesse geweckt?
    </p>
      <%= link_to "Hier erfährst du mehr", "/philosophie", class: "btn-blue" %>
  </div>

</div>
