<h1 class="heading-l">Kontakt</h1>
<<<<<<< HEAD
<div class="cf">
  <div class="one-half left">
	<h2 class="heading-m">E-Mail</h2>
	<p>
		<a href="mailto:info@learntocode.ch">info@learntocode.ch</a>	
	</p>
</div>
<div class="one-half right">
<h2 class="heading-m">Telefon</h2>
<p>
	+41 79 820 42 28
</p>
</div>
=======

<div class="one-half">
  <p>
    <strong>Learn to Code</strong>
  </p>
</div>
>>>>>>> bae1c16598aa9dcc1e4649a9041183111dbc6c94
