<h1 class="heading-l">Unsere Philosophie</h1>
<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Warum sollten Kinder frühzeitig<br />
      Kontakt mit Programmieren haben?
    </h2>
    <p>
      Die Informatik ist aus unserem Alltag nicht mehr wegzudenken. Jeder Schüler weiss was ein Computer oder Smartphone ist und besitzt sogar das ein oder andere. Wir sind der Meinung, dass Jugendliche heutzutage die Chance erhalten sollten, das Programmieren frühzeitig, wie eine Fremdsprache oder ein Instrument, zu erlernen. Dabei wollen wir den Fokus auf die kreativen Aspekte der Computerwelt legen und den Kindern zeigen, dass man mit den Computern und dem Internet mehr machen kann als nur zu konsumieren.
    </p>
  </div>

  <div class="one-half right">
    <%= image_tag "circle.png" %>
  </div>
</div>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Pushen von Frauen in der Informatik
    </h2>
    <p>
      In einer idealen Welt erhält jedes Kind dieselben Chancen und kann sich nach seinen Fähigkeiten entwickeln. Da die Technik bei vielen, vor allem bei Mädchen, immer noch als unüberwindbare Hürde angesehen wird, haben wir <strong>Learn to Code</strong> ins Leben gerufen. Wir legen grossen Wert darauf, dass in unseren Kursen alle gleich behandelt und jeder gleichermassen ermutigt wird, etwas neues zu lernen.
    </p>
  </div>
  <div class="one-half right">
    <h2 class="heading-m">
      Wie sieht der heutige Arbeitsmarkt aus?
    </h2>
    <p>
      In der heutigen Arbeitswelt gibt es nahezu keine Branchen mehr, in welchen Informatik Kenntnisse nicht von Vorteil sind (oder gar vorausgesetzt werden). Dabei verstehen wir unter dem Begriff Informatik nicht mehr nur Kenntnisse in “Word, Excel oder Powerpoint”, sondern auch die Systemtechnik wie auch die Applikationsentwicklung. Zusätzliches Wissen im Bereich der Informatik, gerade der Programmierung, wirkt sich positiv bei Bewerbungen aus und wird in Zukunft immer gefragter.
    </p>
  </div>
</div>

<h1 class="heading-l">Was die meisten Schulen nicht unterrichten</h1>
<div class="cf">
    <iframe style="margin-top: 0;" width="900" height="556" src="//www.youtube.com/embed/nKIu9yen5nc?&amp;cc_lang_pref=de&amp;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
</div>

