<h1 class="heading-l">Unsere Philosophie</h1>
<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Warum sollten Kinder frühzeitig<br />
      Kontakt mit Programmieren haben?
    </h2>
    <p>
      Die Informatik ist aus unserem Alltag fast nicht mehr wegzudenken. Jeder Schüler weiss was ein Computer oder Smartphone ist und besitzt evt. sogar das ein oder andere. Unter anderem deshalb sind wir der Meinung, dass den Jugendlichen heutzutage die Chance erhalten sollten, das Programmieren frühzeitig, wie eine Fremdsprache oder ein Instrument, zu erlernen. Dabei wollen wir den Fokus auch die Kreativen Aspekte der Computerwelt legen und den Kindern zeigen, dass man mit den Computern und dem Internet mehr machen kann als nur zu konsumieren.
    </p>
  </div>

  <div class="one-half right">
    <iframe style="margin-top: 83px;" width="900" height="306" src="//www.youtube.com/embed/nKIu9yen5nc?&amp;cc_lang_pref=de&amp;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Pushen von Frauen in der Informatik
    </h2>
    <p>
      In einer idealen Welt erhält jedes Kind dieselben Chancen und kann sich nach seinen Fähigkeiten entwickeln. Da die Technik bei vielen, vor allem bei Mädchen, immer noch als unüberwindbare Hürde angesehen wird möchten wir diese Kurse anbieten. Wir legen dabei grossen Wert darauf,  dass jeder in einem solchen Kurs gleich behandelt und jeder gleichermassen ermutigt wird etwas neues zu lernen.
    </p>
  </div>
  <div class="one-half right">
    <h2 class="heading-m">
      Wie sieht der heutige Arbeitsmarkt aus?
    </h2>
    <p>
      In der heutigen Arbeitswelt gibt es nahezu keine Branchen mehr in welchen Informatik Kenntnisse nicht von Vorteil sind oder gar vorausgesetzt werden. Dabei verstehen wir unter dem Begriff Informatik nicht mehr nur Kenntnisse in “Word / Excel oder Powerpoint” sondern unter anderem auch die Systemtechnik wie auch die Applikationsentwicklung. Zusätzliches Wissen im Bereich der Informatik gerade der Programmierung wirkt sich positiv bei Bewerbungen aus. 
    </p>
  </div>
</div>

