<h1 class="heading-l">Ihre Investitionen</h1>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Workshop Tageweise (5h am Tag)
    </h2>
	<ul>
      <li>CHF 400.- pro Tag für bis zu 12 Teilnehmer (Es werden zwei Coaches anwesend sein)</li>
      <li>CHF 200.- für jeden weiteren Coach und Tag (Wir empfehlen 1 Coach pro 6 Teilnehmer)</li>
      <li>CHF 50.- für Verbrauchsmaterial (einmalig pro Kurs)</li>
      <li>Kosten für einen Unterrichtsraum mit Internetverbindung oder zur Verfügung stellen eines solchen.</li>
    </ul>
  </div>
  <div class="one-half right">
    <%= image_tag "tea.png", class: "tea" %>
  </div>
</div>
<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Wöchentlicher Unterricht (1.5h am Tag)
    </h2>
    <ul>
      <li>CHF 160.- pro Tag für bis zu 12 Teilnehmer (Es werden zwei Coaches anwesend sein)</li>
      <li>CHF 80.- für jeden weiteren Coach und Tag (Wir empfehlen 1 Coach pro 6 Teilnehmer)</li>
      <li>CHF 100.- Verbrauchsmaterial (einmalig pro Semester)</li>
      <li>Kosten für einen Unterrichtsraum mit Internetverbindung oder zur Verfügung stellen eines solchen.</li>
    </ul>
  </div>
  <div class="one-half right">
    <%= image_tag "headphones.png", class: "headphones" %>
  </div>
</div>
