<h1 class="heading-l">Ihre Investitionen</h1>

<div class="cf">
  <div class="one-half left">
    <h2 class="heading-m">
      Workshop Tageweise (5h am Tag)
    </h2>
	<ul>
      <li>CHF 200.- pro Leiter und Tag (1 Coach pro 6 Teilnehmer, mind. 2 Coaches)</li>
      <li>CHF 50.- für Verbrauchsmaterial (einmalig pro Kurs)</li>
      <li>Kosten für einen Unterrichtsraum mit Internetverbindung oder zur Verfügung stellen eines solchen.</li>
    </ul>
  </div>
  <div class="one-half right">
    <h2 class="heading-m">
      Wöchentlicher Unterricht (1.5h am Tag)
    </h2>
    <ul>
      <li>CHF 80.- pro Leiter und Tag (1 Coach pro 6 Teilnehmer, mind. 2 Coaches)</li>
      <li>CHF 100.- Verbrauchsmaterial (einmalig pro Semester)</li>
      <li>Kosten für einen Unterrichtsraum mit Internetverbindung oder zur Verfügung stellen eines solchen.</li>
    </ul>
  </div>
<%= image_tag "cat.png", class: "cat" %>
</div>
