<div class="mtl cf">
  <div class="person one-third align-center">
    <%= image_tag "http://www.gravatar.com/avatar/961ce8457830cbe5607fd365f134710c?s=180", class: "avatar" %>
    <h2 class="heading-m">Rodrigo Haenggi</h2>
    <blockquote>
      Quote
    </blockquote>
    <p>
      Beschreibung
    </p>
  </div>
  <div class="person one-third align-center">
    <%= image_tag "http://www.gravatar.com/avatar/34fd3386654f1b625e1d3b8b6c43a217?s=180", class: "avatar" %>
    <h2 class="heading-m">Daniel Puglisi</h2>
    <blockquote>
      Programmieren lehrte mir Probleme zu lösen. Nicht nur auf technischer Ebene, sondern im Leben allgemein.
    </blockquote>
    <p>
      Nach seinem Lehrabschluss als Informatiker EFZ und zweifachem Swissskills Schweizermeistertitel im Webdesign beschloss Daniel in die Welt der Selbständigkeit einzutauchen.
    </p>
    <p>
      Seither beschäftigt er sich mit der Entwicklung von Web Applikationen und dem Unterrichten von Programmieren.
    </p>
  </div>
  <div class="person one-third align-center">
    <%= image_tag "http://www.gravatar.com/avatar/23c2293a9ed59bd1ce1927c6de4a13ac?s=180", class: "avatar" %>
    <h2 class="heading-m">Muriel Binder</h2>
    <blockquote>
      Programmieren lehrte mir Sachverhalte genau zu analysieren und dafür präzise Lösungen zu finden.
    </blockquote>
    <p>
      Nach Ihrem Lehrabschluss als Informatikerin Fachrichtung Applikationsentwicklung, absolvierte Sie ein Studium der Rechtswissenschaften an der Universität Basel. 
    </p>
    <p>Seither beschäftigt sie sich mit den Juristischen Problemen rund um die Informatik, der Programmierung von Web Applikationen und dem Unterrichten von Programmieren.</p>
  </div>
</div>
