<h1 class="heading-l align-center margin-auto mbl">
  Warum sollten Kinder frühzeitig<br />
  Kontakt mit Programmieren haben?
</h1>
<p class="three-third margin-auto">
  Die Informatik ist aus unserem Alltag fast nicht mehr wegzudenken. Jeder Schüler weiss was ein Computer oder Smartphone ist und besitzt evt. sogar das ein oder andere. Unter anderem deshalb sind wir der Meinung, dass den Jugendlichen heutzutage die Chance erhalten sollten, das Programmieren frühzeitig, wie eine Fremdsprache oder ein Instrument, zu erlernen. Dabei wollen wir den Fokus auch die Kreativen Aspekte der Computerwelt legen und den Kindern zeigen, dass man mit den Computern und dem Internet mehr machen kann als nur zu konsumieren.
</p>

<iframe class="" width="900" height="506" src="//www.youtube.com/embed/nKIu9yen5nc?&amp;cc_lang_pref=de&amp;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>

<h1 class="heading-l align-center margin-auto mbl">
  Pushen von Frauen in der Informatik
</h1>
<p class="three-third margin-auto">
  In einer idealen Welt erhält jedes Kind dieselben Chancen und kann sich nach seinen Fähigkeiten entwickeln. Da die Technik bei vielen, vor allem bei Mädchen, immer noch als unüberwindbare Hürde angesehen wird möchten wir diese Kurse anbieten. Wir legen dabei grossen Wert darauf,  dass jeder in einem solchen Kurs gleich behandelt und jeder gleichermassen ermutigt wird etwas neues zu lernen.
</p>

<h1 class="heading-l align-center margin-auto mbl">
  Wie sieht der heutige Arbeitsmarkt aus?
</h1>
<p class="three-third margin-auto">
  In der heutigen Arbeitswelt gibt es nahezu keine Branchen mehr in welchen Informatik Kenntnisse nicht von Vorteil sind oder gar vorausgesetzt werden. Dabei verstehen wir unter dem Begriff Informatik nicht mehr nur Kenntnisse in “Word / Excel oder Powerpoint” sondern unter anderem auch die Systemtechnik wie auch die Applikationsentwicklung. Zusätzliches Wissen im Bereich der Informatik gerade der Programmierung wirkt sich positiv bei Bewerbungen aus. 
</p>

<h1 class="heading-l align-center margin-auto mbl">
  Was bieten wir an?
</h1>

<h2 class="heading-s align-center">Webentwicklung</h2>
<p class="three-third margin-auto">
  In diesem Kurs werden die Grundkenntnisse der Webentwicklung anhand der Programmiersprache Ruby erarbeitet. Ziel ist es hinter die Kulissen einer Internetseite zu blicken und selber eine einfache Webseite zu programmieren.
</p>

<h2 class="heading-s align-center">Mobile Geräte Verstehen</h2>
<p class="three-third margin-auto">
  In diesem Kurs sollen die Möglichkeiten der heutigen mobilen Geräten aufgezeigt werden. Ziel ist es ein Verständnis zu vermitteln, welche Techniken in den Geräten steckt welche uns die Möglichkeit der jeder zeitigen Erreichbarkeit bieten.
</p>

<h2 class="heading-s align-center">Allgemeine Informatik Einführung</h2>
<p class="three-third margin-auto">
  Dieser Kurs soll eine allgemeine Einführung in die Informatik bieten. Der Schwerpunkt dabei liegt im Bereich der Software und deren Bedienung, dabei sollen alltägliche Fragen welche im Umgang mit einem Computer auftreten beantwortet werden.
</p>

<h2 class="heading-s align-center">Individuelle Absprache:</h2>
<p class="three-third margin-auto">
  Je nach länge des Kurses können wir auf individuelle Wünsche der Schule eingehen. Diese müssen jedoch vorgängig mit uns abgesprochen werden.
</p>

<h1 class="heading-l align-center margin-auto mbl">
  Wer sind wir
</h1>
