<h1 class="heading-l align-center two-third margin-auto mbl">
  Warum sollten Kinder frühzeitig<br />
  Kontakt mit Programmieren haben?
</h1>
<p class="two-third margin-auto mbl">
  Die Informatik ist aus unserem Alltag fast nicht mehr wegzudenken. Jeder Schüler weiss was ein Computer oder Smartphone ist und besitzt evt. sogar das ein oder andere. Unter anderem deshalb sind wir der Meinung, dass den Jugendlichen heutzutage die Chance erhalten sollten, das Programmieren frühzeitig, wie eine Fremdsprache oder ein Instrument, zu erlernen. Dabei wollen wir den Fokus auch die Kreativen Aspekte der Computerwelt legen und den Kindern zeigen, dass man mit den Computern und dem Internet mehr machen kann als nur zu konsumieren.
</p>
<iframe class="mbxl" width="900" height="506" src="//www.youtube.com/embed/nKIu9yen5nc" frameborder="0" allowfullscreen></iframe>

<h1 class="heading-l align-center two-third margin-auto mbl">
  Pushen von Frauen in der Informatik
</h1>
<p class="two-third margin-auto">
  In einer idealen Welt erhält jedes Kind dieselben Chancen und kann sich nach seinen Fähigkeiten entwickeln. Da die Technik bei vielen, vor allem bei Mädchen, immer noch als unüberwindbare Hürde angesehen wird möchten wir diese Kurse anbieten. Wir legen dabei grossen Wert darauf,  dass jeder in einem solchen Kurs gleich behandelt und jeder gleichermassen ermutigt wird etwas neues zu lernen.
</p>
<blockquote>
  https://www.usenix.org/blog/my-daughters-high-school-programming-teacher
</blockquote>
