.header
  // background: $blue
  background: url("header-bg.jpg")
  background-size: cover
  color: $white

.logo
  font-size: 24px
  // font-family: "Helvetica Neue", Helvetica, sans-serif
  text-align: center
  img
    height: 300px
    width: 300px
    background: white
    margin-bottom: 40px
    +border-radius(100%)
  span
    display: block
