<div class="footer one-whole">
  <div class="wrapper">
    <div class="inner">
      <%= image_tag "footer.png", class: "footer-image" %>
      <p>
        &copy; 2014 learntocode.ch
      </p>
    </div>
  </div>
</div>
