<nav class="navigation one-whole">
  <div class="wrapper">
    <div class="inner cf">
      <div class="navigation-logo left">
        <%= image_tag "logo_drawn.png" %>
      </div>
      <div class="right">
        <%= seiten_navigation %>
      </div>
    </div>
  </div>
</nav>
